<!-- <p-toast [style]="{'position': 'center', 'overflow': 'visible', 'z-index': '999'}" position="top-center" key="tc">
</p-toast> -->
<p-toast [style]="{marginTop: '80px'}" position="top-center" key="tc"></p-toast>
<p-confirmDialog #cd header="Confirmation" icon="pi pi-exclamation-triangle">
    <p-footer>
        <button type="button" pButton icon="pi pi-check" label="Si" (click)="cd.accept()"></button>
        <button type="button" pButton icon="pi pi-times" label="Cancelar" (click)="cd.reject()"></button>
    </p-footer>
</p-confirmDialog>


<div class="container-fluid">
    <div class="card mb-3">
        <h4 class="card-header">Recepcion de Productos</h4>
        
        <app-oc-master [idOc]="idOC"></app-oc-master>
        <div class="container-fluid">
            
            <h5 class="card-header">Detalles:</h5>
            <div class="row">
                <div class=" col-sm-6 text-left">
                 <h4></h4>
                </div> 
            <div class="card-body">
                <p-table [value]="detallesOc" dataKey="codigo" editMode="row">
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width:10em">Codigo</th>
                            <th>Nombre</th>
                            <!--<th>Descripcion</th>-->
                            <th style="width:8em">Cantidad</th>
                            <th style="width:6em">Unid.</th>
                            <th style="width:8em">Recibido</th>
                            <th style="width:8em">Conforme</th>
                            <!--<th>Ubicación</th>-->
                            <th>Observaciones</th>
                            <!--<th style="width:8em"></th>-->
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
                        <tr [pEditableRow]="rowData">
                            <td>{{rowData.codigo}}</td>
                            <td>{{rowData.nombre}}</td>
                            <!--<td>{{rowData.descripcion}}</td>-->
                            <td>{{rowData.cant_encontrada}}</td>
                            <td>{{rowData.unidadMedidaNombre}}</td>
                            <td>
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <input id=ri pInputText type="text" size="6" placeholder="Recibido" [(ngModel)]="rowData.cant_recibido" required>
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{rowData.cant_recibido}}
                                    </ng-template>
                                </p-cellEditor>
                            </td>
                            <td>
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <input pInputText type="text" placeholder="Conforme"  size="6" [(ngModel)]="rowData.cant_conforme" required>
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{rowData.cant_conforme}}
                                    </ng-template>
                                </p-cellEditor>
                            </td>
                            <!--<td>{{rowData.codigoPuesto}}</td>-->
                            <td>
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <input pInputText type="text" placeholder="Observaciones" size="10" [(ngModel)]="rowData.notas">
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{rowData.notas}}
                                    </ng-template>
                                </p-cellEditor>
                            </td>
                            <!--<td style="text-align:center">-->
                               <!-- <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="pi pi-pencil" class="ui-button-info" (click)="onRowEditInit(rowData, ri, $event)" [disabled]="isdisabled"></button>-->
                               <!-- <button *ngIf="editing" id="{{ri + 'boton'}}" pButton type="button" pSaveEditableRow icon="pi pi-list" class="ui-button-success" style="margin-right: .5em" [disabled]="readOnly" (click)="onRowEditSave()"></button>-->
                               <!-- <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-times" class="ui-button-danger" (click)="onRowEditCancel(rowData, ri, $event)"></button>-->
                            <!--</td>-->
                        </tr>
                        <tr>
                            <td colspan="7">
                            <div>
                                <p-accordion [multiple]="true">
                                    <p-accordionTab header="Recepcion de Productos">
                                        <ng-template pTemplate="summary" >
                                            <footer class="card-footer">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div style="text-align:center">
                                                            <button style="width:20%" type="button" pButton icon="fa fa-plus"
                                                                (click)="showDialogToAdd(rowData)" label="Nuevo Mov."></button>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </footer>
                                        </ng-template>
                                        <div class="container-fluid">
                                            <div class="row">
                            
                                                <div class="col-12 col-sm-2 text-center"
                                                    [ngStyle]="{'background-color': '#191919'}">
                                                    <label class="">Fecha Registro</label>
                                                </div>
                                                
                                                <div class="col-12 col-sm-1 text-center"
                                                    [ngStyle]="{'background-color': '#191919'}">
                                                    <label class="">Entrada</label>
                                                </div>
                                                
                                                <div class="col-12 col-sm-5 text-center"
                                                    [ngStyle]="{'background-color': '#191919'}">
                                                    <label class="">Justificacion</label>
                                                </div>
                                                <div class="col-12 col-sm-1 text-center"
                                                    [ngStyle]="{'background-color': '#191919'}">
                                                    <label class="">Estatus</label>
                                                </div>
                                                <div class="col-12 col-sm-2 text-center"
                                                    [ngStyle]="{'background-color': '#191919'}">
                                                    <label class="">User</label>
                                                </div>
                                                
                                                <div class="col-12 col-sm-1 text-center"
                                                    [ngStyle]="{'background-color': '#191919'}">
                                                    <label class="">Acciones</label>
                                                </div>
                                                
                                            </div>
                                            <div class="row" *ngFor="let MOV of recepciones; let index = index">
                                                <ng-container *ngIf="MOV.id_producto == rowData.idProducto">
                                                    <div class="col-12 col-sm-2 border-bottom border-light text-center"
                                                        [ngStyle]="{'background-color': '#454545'}">
                                                        <label class="">{{MOV.fecha_solicitud | date:'dd/MM/yyyy'}}</label>
                                                    </div>
                                                    
                                                    <div class="col-12 col-sm-1 border-bottom border-light text-center"
                                                        [ngStyle]="{'background-color': '#454545'}">
                                                        <label class="" style="font-size: 0.75rem;">{{MOV.entrada}}</label>
                                                    </div>
                                                    
                                                    <div class="col-12 col-sm-5 border-bottom border-light text-center"
                                                        [ngStyle]="{'background-color': '#454545'}">
                                                        <label class="">{{MOV.justificacion}}</label>
                                                    </div>
                                                    <div class="col-12 col-sm-1 border-bottom border-light text-center"
                                                        [ngStyle]="{'background-color': '#454545'}">
                                                        <label class="">{{MOV.estatus}}</label>
                                                    </div>
                                                    <div class="col-12 col-sm-2 border-bottom border-light text-center"
                                                        [ngStyle]="{'background-color': '#454545'}">
                                                        <label class="">{{MOV.id_usuario_proceso}}</label>
                                                    </div>
                                                    <div class="col-12 col-sm-1 border-bottom border-light text-center"
                                                        [ngStyle]="{'background-color': '#454545'}">
                                                        <button pButton type="button" icon="pi pi-list" class="ui-button-success"
                                                            (click)="update(MOV)" pTooltip="Procesar Mov." style="margin-right: .1em"></button>	
                                                    </div>
                                                    
                                                   
                                                </ng-container>    
                                            </div>                                 
                                        </div>
                                        <br>
                                    </p-accordionTab>
                                </p-accordion>                    
                            </div>
                        </td>
                        </tr>
                    </ng-template>
                   
                </p-table>
           
            </div>           
        </div> 
    </div>      
</div>

<ng-container *ngIf="displayDialog">
	<p-dialog [(header)]="tituloDialogo" [contentStyle]="{'overflow':'visible'}" [(visible)]="displayDialog"
		[responsive]="true" showEffect="fade" onHide="cerrar()" [closable]="true" position="50" [modal]="true" [style]="{width: '70vw'}" [positionTop]="50" width="700">
		

        <div class="ui-g ui-fluid">	
            <div class="ui-g-1">
				<label class="">Entrada</label>
			</div>		
			<div class="ui-g-5">
				<input type="number" pInputText  id="entrada" [(ngModel)]="nuevoMovimiento.entrada"  placeholder="Cantidad Entrada" />
			</div>
            <div class="ui-g-1">
				<label class="">Operación</label>
			</div>
            <div class="ui-g-5">
				<div class="p-d-flex p-flex-column">
                    <p-radioButton
                      styleClass="radio-style"
                      class="p-col"
                      name="logicaNeg"
                      [(ngModel)]="operacion"
                      value="RECEPCION"
                      inputId="recepcion"
                      label="Recepción"                      
                    ></p-radioButton>
                    <p-radioButton
                      styleClass="radio-style"
                      class="p-col"
                      name="logicaNeg"
                      [(ngModel)]="operacion"
                      value="DEVOLUCION"
                      inputId="devolucion"
                      label="Devolución"                      
                    ></p-radioButton>
                  </div>
			</div>
				
		</div>	

		<div class="ui-g ui-fluid">
            <div class="ui-g-1">
				<label class="">Origen</label>
			</div>
            <div class="ui-g-5">
                <p-dropdown  [options]="almacenes" [(ngModel)]="nuevoMovimiento.id_almacen_origen" 
                  [filter]="true"  >
                    
                </p-dropdown>
            </div>
            <div class="ui-g-1">
				<label class="">Destino</label>
			</div>
			<div class="ui-g-5">
                <p-dropdown  [options]="almacDestino" [(ngModel)]="nuevoMovimiento.id_almacen_destino" 
                 [filter]="true"  ></p-dropdown>
            </div>
        </div>
		
        
        <div class="ui-g ui-fluid">
            <div class="ui-g-1">
				<label class="">Justificación</label>
			</div>
            <div class="ui-g-11">
                <textarea pInputText id="justificacion" [(ngModel)]="nuevoMovimiento.justificacion"  placeholder="Justificacion" rows="3"></textarea>
            </div>
        </div>
    <!--
        <div class="ui-g ui-fluid">
            	
            <div class="ui-g-1">
				<label class="">Caducidad</label>
			</div>		
            <div class="ui-g-5">
				<p-calendar [(ngModel)]="nuevoMovimiento.fecha_caducidad" placeholder="Fecha Caducidad"  readonlyInput="true" [showIcon]="true">
                </p-calendar>
			</div>
            <div class="ui-g-1">
				<label class="">Aprobacion</label>
			</div>		
            <div class="ui-g-5">
				<input pInputText id="fecha_aprobacion" [(ngModel)]="nuevoMovimiento.fecha_aprobacion"  placeholder="Fecha Aprobacion"  readonly />
                
			</div>
			
		</div>
    -->
    <!--
        <div class="ui-g ui-fluid">
            <div class="ui-g-1">
				<label class="">Estatus</label>
			</div>
            <div class="ui-g-5">
                <p-dropdown [options]="estatusNuevo"  [(ngModel)]="nuevoMovimiento.estatus" placeholder="Seleccione Estatus" > </p-dropdown>
            </div>
			<div class="ui-g-1">
				<label class="">logico</label>
			</div>
            <div class="ui-g-5">
                <p-inputSwitch [(ngModel)]="nuevoMovimiento.es_logico"   (onChange)="handleChange($event, nuevoMovimiento)" >
                </p-inputSwitch>
            </div>
        </div>
    -->
		<p-footer>
			<div class="ui-dialog-buttonpane ui-helper-clearfix">
				<button type="button" pButton icon="fa fa-check"  (click)="guardar()"  label="Guardar"></button>
				<button type="button" pButton icon="fa fa-times" (click)="cerrar()"  label="Cerrar"></button>
			</div>
		</p-footer>
	</p-dialog>
</ng-container>