<p-table #dt [value]="detallesOC" [columns]="cols" [paginator]="false" [responsive]="true" autoLayout="true">
	<ng-template pTemplate="header" let-columns>
		<tr>
			<th *ngFor="let col of columns" [pSortableColumn]="col.field" [ngStyle]="{'width': col.width}">
				{{col.header}}
				<p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
					ariaLabelDesc="Activate to sort in descending order"
					ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
			</th>
			<!-- <th>Acciones</th> -->
		</tr>
	</ng-template>

	<ng-template pTemplate="body" let-detalle let-indice="rowIndex">
		<tr>
			<td style="width: 10%;">
				{{detalle.codigo}}
			</td>
			<td style="width: 20%;">
				{{detalle.nombre}}
			</td>
			<td style="width: 30%;">
				{{detalle.descripcion}}
			</td>
			<td style="width: 5%;">
				{{detalle.cant_encontrada}}
			</td>
			<td style="width: 5%;">
				{{detalle.unidadMedidaC}}
			</td>
			<td style="width: 5%;">
				{{detalle.precio | number:'1.2-2':'es-ES'}}
			</td>

		</tr>

	</ng-template>
</p-table>
