<ng-container *ngIf="displayDialog === true">
	<p-dialog [(header)]="tituloHeader" [(visible)]="displayDialog" [style]="{width: '85vw'}" [resizable]="false"
		[modal]="true" [contentStyle]="{'overflow':'visible'}">

		<app-oc-one [idOc]="ocSelected.idComprasOC"></app-oc-one>

	</p-dialog>
</ng-container>

<ng-container *ngIf="displayPrint === true">
	<p-dialog [(header)]="tituloHeader" [(visible)]="displayPrint" [style]="{width: '90vw'}" [resizable]="false"
		[modal]="true" [contentStyle]="{'overflow':'visible'}">
		<app-print-oc [idOc]="ocSelected.idComprasOC"></app-print-oc>

	</p-dialog>
</ng-container>

<ng-container *ngIf="displayForm">
	<p-dialog [(header)]="tituloHeader" [(visible)]="displayForm" [style]="{width: '50vw'}" [resizable]="false"
		[modal]="true" [contentStyle]="{'overflow':'visible'}">
		<app-form-mod-oc [oc]="ocSelected" (result)="cerrarOcForm($event)"></app-form-mod-oc>
	</p-dialog>
</ng-container>

<p-confirmDialog #cd header="Confirmación" icon="pi pi-exclamation-triangle">
	<p-footer>
		<button type="button" pButton icon="pi pi-check" label="Si" (click)="cd.accept()"></button>
		<button type="button" pButton icon="pi pi-times" label="Cancelar" (click)="cd.reject()"></button>
	</p-footer>
</p-confirmDialog>

<p-toast [style]="{marginTop: '100px'}" position="top-center" key="tc"></p-toast>

<div class="container-fluid">
	<div class="card mb-3">
		<h4 class="card-header">Ordenes de Compras</h4>
		<div class="card-body">
			<p-table #dt [value]="ordenesCompras" [columns]="cols" [paginator]="true" [rows]="15" [responsive]="true"
				autoLayout="true" dataKey="idComprasOC" editMode="row">

				<ng-template pTemplate="caption">
					<div style="text-align: right">
						<i class="fa fa-search" style="margin:4px 4px 0 0"></i>
						<input type="text" pInputText size="30" placeholder="Buscar"
							(input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
					</div>
				</ng-template>

				<ng-template pTemplate="header" let-columns>
					<tr>
						<th *ngFor="let col of columns" [pSortableColumn]="col.field"
							[ngStyle]="{'width': col.width, 'display': col.display}">
							{{col.header}}
							<p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
								ariaLabelDesc="Activate to sort in descending order"
								ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
						</th>
						<th>Acciones</th>
					</tr>
				</ng-template>

				<ng-template pTemplate="body" let-oc let-indice="rowIndex" let-editing="editing"
					let-expanded="expanded">
					<tr>
						<td>
							<a href="#" [pRowToggler]="oc">
								<i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
							</a>
						</td>
						<td style="width: 7%;">
							{{oc.idComprasOC}}
						</td>
						<ng-container *ngIf="permisoCambiarCorrelativo">
							<td style="width: 9%;" pEditableColumn>
								<p-cellEditor>
									<ng-template pTemplate="input">
										<input pInputText type="text" [(ngModel)]="oc.correlativo"
											(change)="correlativo(oc)">
									</ng-template>
									<ng-template pTemplate="output">
										{{oc.correlativo}}
									</ng-template>
								</p-cellEditor>
							</td>
						</ng-container>
						<ng-container *ngIf="!permisoCambiarCorrelativo">
							<td style="width: 9%;">
								{{oc.correlativo}}
							</td>
						</ng-container>

						<td style="width: 16%;">
							{{oc.nombre_activo}}
						</td>
						<td style="width: 17%;">
							{{oc.nombre_proveedor}}
						</td>
						<td style="width: 10%; text-align: right;">
							{{oc.monto_total_usd | number:'.2-2':'es-ES'}}
						</td>
						<td style="width: 10%;">
							{{oc.fechaAlta | date: 'dd/MM/yyyy'}}
						</td>
						<td class="aprobado">
							<!--[ngClass]="oc.idEstado === 3 ? 'aprobado' : 'modificado'" -->
							{{oc.estadoActual}}
							<!-- {{oc.idEstado}} -->
						</td>
						<!-- <td style="width: 10%; text-align: right;">
							{{oc.tasa_usd}}
						</td> -->
						<td style="width: 10%; text-align: right;">
							<!-- pEditableColumn -->
							<p-cellEditor>
								<ng-template pTemplate="input">
									<!-- <input pInputText type="text" style="width: 100%;" [(ngModel)]="oc.tasa_usd"> -->
									<p-inputNumber id="{{'tasa' + indice + oc.idComprasOC}}" [(ngModel)]="oc.tasa_usd"
										[minFractionDigits]="2" mode="decimal" locale="es-ES"
										[inputStyle]="{'text-align': 'right','width': '100%'}">
									</p-inputNumber>
								</ng-template>
								<ng-template pTemplate="output">
									{{oc.tasa_usd | number:'.2-2':'es-ES'}}
								</ng-template>
							</p-cellEditor>
						</td>
						<td style="display:none;"></td> <!-- para poder filtrar por este campo oculto -->
						<td style="text-align:center;">

							<button pButton type="button" icon="pi pi-file-o" pTooltip="Imprimir PDF"
								tooltipPosition="top" class="ui-button-info" (click)="verPrintOC(oc)"
								style="margin-right: .2em"></button>
							<ng-container *ngIf="[3,9].includes(oc.idEstado)">
								<button pButton type="button" icon="pi pi-pencil" pTooltip="Modificar OC"
									tooltipPosition="top" class="ui-button-info" (click)="verFormMod(oc)"
									style="margin-right: .2em"></button>
							</ng-container>

						</td>
					</tr>

				</ng-template>

				<ng-template pTemplate="rowexpansion" let-oc let-columns="cols">
					<tr>
						<td [attr.colspan]="10">
							<app-trazas-oc-list [idComprasOC]="oc.idComprasOC"></app-trazas-oc-list>
						</td>
					</tr>
				</ng-template>
			</p-table>
		</div>
	</div>
</div>